# Image parameters
IMAGE_REGISTRY=ghcr.io/imesense
IMAGE_TAG=latest

# License settings
EULA=false

# Network settings
SERVER_PORT=25565

# Paths to files
VOLUME_WORLD=./world
VOLUME_CONFIG=./config
VOLUME_REPORTS=./crash-reports
VOLUME_PROPERTIES=./server.properties
