# Enable top-most EditorConfig file
root = true

# Environment configs
[*.env*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Shell scripts
[*.sh]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Batch scripts
[*.{bat,cmd}]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Markdown documents
[*.md]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true

# Text documents
[*.txt]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Git configs
[.{gitattributes,gitignore,mailmap}]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

# EditorConfig files
[.editorconfig]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# MarkdownLint configs
[.markdownlint*.{json*,y*ml,*js}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Docker files
[.dockerignore]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[Dockerfile*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Docker Compose files
[docker-compose*.y*ml]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Visual Studio Code files
[*.code-workspace]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
[.vscode/*.json]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# DevContainers manifests
[.devcontainer/**/devcontainer.json]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# GitHub configs
[.github/CODEOWNERS]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[.github/**/*.{md,y*ml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Gradle scripts
[*.gradle]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[gradlew]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[gradlew.bat]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true

# Java files
[*.{java,properties*}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

# Minecraft resources
[*.{lang,info,mcmeta}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
[mixins.*.json]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
